main{
    /*border: 1px solid chartreuse;*/
    border: none;
}
#column1{
    /*border: 1px solid crimson;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--general-padding);
}
#column2{
    /*border: 1px solid blue;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--general-padding);
    /*border: 1px solid crimson;*/
    margin-top: var(--general-padding);
}
.search-box{
    width: 100%;
}
/*#searchInput,*/
input[type="text"]{
    width: 100%;
    padding: var(--general-padding);
    font-size: 1.6rem;
    border-radius: var(--general-border-radius);
    border: 2px solid var(--color-e);
    background-color: var(--color-1);
    color: var(--color-f);
    outline: none;
}
input[type="text"]:focus{
    border: 2px solid var(--color-5);
    outline: none;
    color: var(--color-5);
}
.filters{
    display: flex;
    flex-wrap: wrap;
    gap: var(--general-padding);
}
.filters button{
    padding: 0;
    border: none;
    background: none;
    font-size: 1.6rem;
    color: var(--color-f);cursor: pointer;
}
.filters button.active{
    color: var(--color-5);
}
.hidden {
    display: none !important;
    /*opacity: 0.3;*/
}
.highlight {
    /*background-color: yellow;*/
    color: var(--color-5);
}
#questionContainer{
    /*border: 3px solid navy;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--general-padding);
}
.question{
    /*border: 1px solid white;*/
    width: 100%;
    background-color: aqua;
    padding: var(--general-padding);
    border-radius: var(--general-border-radius);
    background: rgba(13, 13, 13, 0.1);
    backdrop-filter: blur(3px);
    border: 2px solid var(--color-e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--general-padding);
    cursor: pointer;
}
.question.selected{
    border: 2px solid var(--color-5);
}
.qn{
    color: var(--color-b);
    width: 100%;
    text-align: justify;
}
.as{
    color: var(--color-f);
    width: 100%;
    text-align: justify;
}












.container {
    position: relative;
    max-width: 100%;
}

.question {
    position: relative;
    max-width: 100%;
    width: 100%; /* Explicitly set width to ensure it doesn't stretch */
    box-sizing: border-box; /* Ensure padding/borders are included in width */
}

.question pre {
    /*border: 1px solid crimson;*/
    max-width: 100%;
    overflow-x: auto; /* Horizontal scroll for the code block */
    white-space: pre; /* Preserve whitespace */
    display: block;
    box-sizing: border-box;
}

/* Ensure the parent column doesn't stretch */
#column2 {
    max-width: 100%;
    box-sizing: border-box;
}

.selected{
    text-align: start !important;
}























